{% extends 'base.html' %}
{% block title %}Inicio{% endblock %}
{% block content %}

<div class="container">
    <div class="main-box">
        <h1>Bienvenido(a) a FullAdmin</h1>
        <p>Selecciona una función:</p>

        <div class="card-container">
            <div class="card">
                <a href="{% url 'product_list' %}">
                    <i class="fa-solid fa-warehouse"></i>
                    <h2>Inventario</h2>
                </a>
            </div>

            <div class="card">
                <a href="{% url 'contabilidad' %}">
                    <i class="fa-solid fa-calculator"></i>
                    <h2>Contabilidad</h2>
                </a>
            </div>

            <div class="card">
                <a href="{% url 'recursosHumanos' %}">
                    <i class="fa-solid fa-shopping-cart"></i>
                    <h2>RR.HH
                    </h2>
                </a>
            </div>

            <div class="card">
                <a href="{% url 'facturacion' %}">
                    <i class="fa-solid fa-shopping-bag"></i>
                    <h2>Faturacion</h2>
                </a>
            </div>
        <!-- Agrega más tarjetas según las funciones de tu web -->
        </div>
    </div>
</div>

{% endblock %}
