{% extends 'base.html' %}

{% block content %}
    <h1>Inventario de Productos</h1>

    <button id="open-modal">Agregar Producto</button>

    <!-- Modal -->
    <div id="myModal" class="modal">
    <div class="modal-content">
        <h2>Agregar Producto</h2>
        <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Guardar</button>
        <button id="close-modal">Cerrar</button>
        </form>
    </div>
    </div>

    <h2>Lista de Productos</h2>
    <ul>
    {% for producto in productos %}
        <li>{{ producto.nombre }} - {{ producto.descripcion }} - {{ producto.precio_compra }} - {{ producto.precio_venta }} - {{ producto.stock }} - {{ producto.categoria }} - {{ producto.ubicacion }} </li>
    {% endfor %}
    </ul>

{% endblock %}
